@(header1: String, header2: String, picture: String, description: String, answers: String, xml : String)

@defining(play.core.PlayVersion.current) { version =>
<div id="main">
    <div id="header">@header1</div>
    <div id="pic"><img src="@Html(picture)" /></div>
    <div id="scene">
        <h2 id="CCSub">@header2</h2>
        @Html(description)
        <div id="options">
            @Html(answers)
            <form class="stateHolder">
            <input type="button" class="stateButton" value="Stan gry" onClick="state = window.open(''); state.document.write('<html><head><title>Paragraph: XML with current state</title></head><body><pre>@scala.xml.Utility.escape(xml)</pre></body></html>')" />
            </form>
        </div>
    </div>
</div>
}