@(title: String, button: String, blurb: String, xml : String, style: String = "scala")

@defining(play.core.PlayVersion.current) { version =>
<div id="main">
    <div id="header">@title</div>
    <div id="description">@blurb</div>
    <form method="POST" action="@routes.BindData.bind()" style="text-align: center">
        <input type="text" name="xml" value="@xml" style="display: none"/>
        <input type="text" name="map" value="=" style="display: none"/>
        <input type="submit" value="@button" style="font-size: x-large; background: none; border:none; padding:0; cursor: pointer; color: black" />
    </form>
</div>
}